@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');



/* color variables */
:root {
	/* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
 	--very-pale-blue: hsl(225, 100%, 98%);
 	--esaturated-blue: hsl(224, 23%, 55%);
 	--dark-blue: hsl(223, 47%, 23%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
	background-image: url(images/pattern-background-desktop.svg);
	font-family: "Red Hat Display", sans-serif;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(225, 100%, 94%);
	position: relative;
	min-height: 100vh;
	font-size: 16px;
}


.card {
	border-radius: 20px;
	max-width: 375px;
	background: white;
	overflow: hidden;
	margin: 100px auto 0;
	text-align: center;
	padding-bottom: 35px;

}

.card img {
	max-width: 100%;

}

h1 {
	text-align: center;
	color: hsl(223, 47%, 23%);
	font-weight: 900;
	font-size: 28px;
	padding: 20px;
}

.card p {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #8a8a8a;
	padding: 0 25px;
}


.card .mid-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: hsl(225, 100%, 98%);
	border-radius: 20px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	padding: 16px; 
}

.card .mid-card .music-icon {
	padding-left: 5px;
}


.card .mid-card .option {
	margin-right: 20px;
	font-weight: 700;
	color: hsl(223, 47%, 23%);
	margin-right: -1px;
}

.card .mid-card .option a:hover {
	text-decoration: none;
	color: hsl(245, 75%, 52%);
	
}



h4 {
	color: hsl(223, 47%, 23%);
	font-weight: 750;
	margin-bottom: 5px;
	padding-left: 85px;
}


.card .mid-card .info-plan p {
	font-weight: 280;
	color: #8a8a8a;
	padding-left: 110px;
}


.card .mid-card .info-plan {
	margin-left: -135px;
	margin-top: 10px;
	margin-bottom: 10px;
}




.payment {
	padding: 33px;
}

a.payment-button {
	background-color: hsl(245, 75%, 52%);
	color: white;
	border-radius: 15px;
	text-decoration: none;
	display: block;
	padding: 20px 0;
	margin: 30px 25px;
	text-align: center;
}

a.payment-button:hover {
	background-color: hsl(224, 23%, 55%);
}



a.cancel-button {
	text-decoration: none;
	color: #8a8a8a;
}

a.cancel-button:hover {
	color: hsl(223, 47%, 23%);
}


@media only screen and (max-width: 375px) {
	body {
		background-image: url(images/pattern-background-mobile.svg);
		font-size: 14px;
	}

	.card {
		max-width: 85%;
	}

	.card img {
		max-width: 100%;
	}

	h1 {
		font-size: 20px;
	}

	.card p {
		font-size: 12px;
	}

	.card .mid-card {
		padding: 12px;
	}

	.card .mid-card .info-plan {
		margin-left: -100px;
	}

	.card .mid-card .option {
		font-size: 12px;
	}

	a.payment-button {
		font-size: 12px;
	}

	a.cancel-button {
		font-size: 12px;
	}


}